
.icon-linkedin-1:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-git-alt:before { content: '\e805'; } /* '' */
.icon-css3-alt:before { content: '\e806'; } /* '' */
.icon-square-js:before { content: '\e807'; } /* '' */
.icon-react:before { content: '\e808'; } /* '' */
.icon-sass:before { content: '\e809'; } /* '' */
.icon-python:before { content: '\e80a'; } /* '' */
.icon-bootstrap:before { content: '\e80b'; } /* '' */
.icon-doc:before { content: '\f04a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
